<h1>List of pets</h1>
<%= link_to "Add Pet", new_pet_path %>
<ul>
  <% @pets.each do |pet| %>
    <li>
      <%= link_to pet_path(pet) do %>
        <p><%= pet.name %> / <%= pet.species %></p>
      <% end %>
    </li>
  <% end %>
</ul>
